; +---------------------------------------------------------------------------+
; | This is a configuration file for Net_LDAP2s tests.                        |
; | To activate the tests, you need to adjust the configuration to            |
; | your needs and copy it over to "ldapconfig.conf". Place the               |
; | file inside the directory holding all the test programs.                  |
; |                                                                           |
; | Note, that this tests assume a working LDAP server.                       |
; | If you don't have such a server, you may use the                          |
; | LDIF based mock server. Head to 'ldapldifconfig.ini.dist'.                |
; |                                                                           |
; | The syntax of this file is really easy and similar to other .ini-files.   |
; | Remember to quote strings containing non-alphanumeric characters.         |
; +---------------------------------------------------------------------------+


; Global section
;   server_cap_tls:       is the server ssl capable?
;   server_cap_anonymous: is the server allowing anonymous access?
;   server_base_dn:       BaseDN at which your DIT starts. Ensure that the
;                         binding user has all rights to add, delete and
;                         modifying entries as well as creating and deleting
;                         some subtree (ou=...) below the base.
;   server_*:             I think those following are self-explanatory
;   server_binddn:        Relative to base_dn below
[global]
server_cap_tls       = false
server_cap_anonymous = true
server_base_dn       = "dc=example,dc=com"
server_address       = localhost
server_port          = 389
server_binddn        = "cn=admin"
server_bindpw        = test


; Definitions for the tests. Adjust to suit the needs of your test server.
;   existing_entry:  RDN for an entry that must exist (relative to base).
;                    The following attribute tests are performed on this entry.
;   existing_attrs:  Name of an existing attribute (single valued)
;   existing_attrsv: Value of this attribute
;   existing_attrm:  Name of an existing attribute (multi valued)
;   existing_attrmv: Values of this attribute, "|" delimited
;   utf8_attr:       Name of attribute with UTF8 value
;   noutf8_attr:     Name of attribute without UTF8 value
[test]
existing_entry  = "cn=existing"
existing_attrs  = sn
existing_attrsv = testentry
existing_attrm  = mail
existing_attrmv = "test.entry@example.com|te@example.com"
utf8_attr       = ou
noutf8_attr     = givenName
